{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "plugin:react/recommended"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error",
    "no-extra-semi": "error",
    "semi": ["error", "never"],
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true
    }]
  }
}
